@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300; 0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(0% 91% at 17% 5%, #FFF400D4 1%, #FCF9C6BA 42%, #FFF400D4 52%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 3%, #FFF400B5 6%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049BD 0%, #FF0049BA 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF0000A1 0%, #FF000085 100%);
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img img {
    width: 25rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: rgb(222, 18, 52);
    background-color: white;
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#form { 
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#titulo {
    font-size: 2.25rem;
    position: relative;
    text-align: center;
}

#titulo::after {
    position: absolute;
    content: '';
    background-color: rgb(222, 18, 52);
    width: 8rem;
    height: 1px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label {
    font-size: 1.1rem;
    color: rgb(222, 18, 52);
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: .3rem;
    border-radius: 5px;
    margin-top: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) -10px 0px 1px -10px inset;

}

.input-field span, .input-field i {

    color: rgb(222, 18, 52);
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: rgb(222, 18, 52);
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}


#calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: rgb(222, 18, 52);
    color: aliceblue;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;

}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;

}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi::last-child{
    font-size: 0.875rem;
    color: black;

}

#description {
    width: 15.5rem;
}

.hidden {
 display: none;   
}

.normal {
    color: #16a34a;
}

.attention {
    color: red;
}


@media screen and (max-width: 1024px) {
    
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    #container {
        width: 100%;
        height: 100%;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}

